<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>demo.irdeto.com</string>
	<key>port</key>
	<string>80</string>
	<key>proxy_servlet_name</key>
	<string>IndividualizationProxyService</string>
</dict>
</plist>
